*{
    padding: 0px;
    margin: 0px;
}

#header{
    margin: 0px;
    width: 500px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

ul{
    list-style: none;
}

.nav li a{
    background-color: slateblue;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.nav li a:hover{
    background-color: slategrey;
}

.nav > li{
    float: left;
}

.nav li ul{
    display: none;
    position: absolute;
    min-width: 148px;
}

.nav li:hover > ul{
    display: block;
}

.nav li ul li{
    position: relative;
}

.nav li ul li ul{
    right: -140px;
    top: 0px;
}

.nav li .Inicio{
    background-color: slateblue;
}

.nav li .Productos{
    background-color: slateblue;
}

.nav li .Acerca de{
    background-color: slateblue;
}

.nav li .Contactenos{
    background-color: slateblue;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    background-color: slateblue;
    color: black;
    padding: 1rem;
  }
  
  h1 {
    margin: 0;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
  }
  
  img {
    max-width: 2000px;
    height: 300px;
    text-align: center;
  }
  
  footer {
    background-color: slateblue;
    color: black;
    text-align: center;
    padding: 1rem;
  }


.Zapato{
    text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.container-form{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    margin-top: 90px;
}
.container-form h2{
    margin-bottom: 15px;
    font-size: 35px
}
.container-form p{
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
}
.container-form a{
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: black;
    font-weight: 700;
}
.container-form a i{
    color: orange;
    margin-right: 10px;
}
.container-form form .campo, textarea{
    width: 100%;
    padding: 15px 10px;
    font-size: 16px;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}

.container-form form textarea{
    max-width: 530px;
    min-width: 530px;
    min-height: 140px;
    max-height: 150px;
}
.container-form .btn-enviar{
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: slateblue;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}
.container-form .btn-enviar:hover{
    background: slateblue;

}

